* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  color: #030303;
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header {
  background-image: linear-gradient(120deg, #FFD166 0%, #EF476F 100%);
  text-align: center;
  padding: 2.5rem 0;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2rem;
}

.video-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  cursor: pointer;
}

.video-container:hover .details,
.video-container:hover .controls {
  animation: fadeIn 0.3s ease-in;
  animation-fill-mode: forwards;
}

.video-container {
  position: relative;
}

.details {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  opacity: 0;
  flex-wrap: wrap;
}

.details__name {
  font-size: 1.8em;
  margin-bottom: 0.5rem;
  display: block;
}

.details__artist {
  font-size: 1em;
}

.current-video {
  width: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  vertical-align: center;
  opacity: 0;
}

.controls .controls__player,
.controls .controls__time,
.controls .controls__options {
  display: inline-flex;
  align-items: center;
}

.controls .controls__player .button,
.controls .controls__options .button {
  margin-right: 0.7rem;
}

.controls .controls__time {
  width: 65%;
  color: white;
  font-size: 0.9em;
}

.time__progress-bar {
  width: 100%;
  background: white;
  height: 5px;
  border-radius: 5px;
  margin: 0 0.8rem;
}

.time__progress-bar .time__progress-bar__current {
  width: 40%;
  height: 100%;
  background:#EF476F;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}